<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>Pokeball_icon-icons.com_67533.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,625},{120,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{4,4},{120,120}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>bulbasaur_icon-icons.com_67580.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,740},{122,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,3},{122,122}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>charmander_icon-icons.com_67576.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,867},{106,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,3},{106,122}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>depositphotos_87609830-stock-illustration-a-set-of-vector-game_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,242},{589,150}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{589,150}}</string>
				<key>sourceSize</key>
				<string>{589,150}</string>
			</dict>

			<key>depositphotos_87609830-stock-illustration-a-set-of-vector-game_04.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,393},{560,136}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{560,136}}</string>
				<key>sourceSize</key>
				<string>{560,136}</string>
			</dict>

			<key>depositphotos_87609830-stock-illustration-a-set-of-vector-game_09.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{592,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{592,128}}</string>
				<key>sourceSize</key>
				<string>{592,128}</string>
			</dict>

			<key>depositphotos_87609830-stock-illustration-a-set-of-vector-game_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,129},{592,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{592,112}}</string>
				<key>sourceSize</key>
				<string>{592,112}</string>
			</dict>

			<key>eevee_icon-icons.com_67563.png</key>
			<dict>
				<key>frame</key>
				<string>{{561,393},{102,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{13,3},{102,122}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>jigglypuff_icon-icons.com_67550.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,530},{124,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,17},{124,94}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>pikachu_icon-icons.com_67535.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,625},{122,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,7},{122,114}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>poke_trainer_three_star_icon-icons.com_67512.png</key>
			<dict>
				<key>frame</key>
				<string>{{466,746},{110,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{9,4},{110,120}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>pokemonIcon.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,530},{342,459}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{342,459}}</string>
				<key>sourceSize</key>
				<string>{512,512}</string>
			</dict>

			<key>psyduck_icon-icons.com_67509.png</key>
			<dict>
				<key>frame</key>
				<string>{{587,516},{98,121}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,3},{98,121}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>snorlax_icon-icons.com_67505.png</key>
			<dict>
				<key>frame</key>
				<string>{{343,863},{122,104}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{3,12},{122,104}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

			<key>squirtle_icon-icons.com_67504.png</key>
			<dict>
				<key>frame</key>
				<string>{{573,867},{98,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{15,3},{98,122}}</string>
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>sprites.png</string>
			</dict>
		</dict>
</plist>